<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="debug">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} %-5level %logger{36}: %msg%n" />
        </Console>
        <RollingFile name="RollingFile" fileName="/var/lib/recommendation/logs/log"
                     filePattern="/var/lib/recommendation/logs/history/%d{yyyyMM}.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy/MM/dd HH:mm:ss}\t%5p\t%C:%L\t%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
        </Root>
        <!--<Root level="debug">-->
            <!--<AppenderRef ref="RollingFile" />-->
        <!--</Root>-->
    </Loggers>
</Configuration>